
@{
    ViewData["Title"] = "FileEdit";
}
@using System.Linq;
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<h2>Файлы с цифровой подписью</h2>

<table>
    <tr>
        <th>Пользователь</th>
        <th>Имя файла</th>
        <th>Дата</th>
        <th>xls</th>
        <th>p7s</th>
    </tr>
    @{
        //var paths1 = System.IO.Directory.GetFiles("Files\\xls");
        var paths2 = System.IO.Directory.GetFiles("Files\\p7s");
        foreach (var path in paths2)
        {
            var splits = System.IO.Path.GetFileNameWithoutExtension(path).Split(new string[] { "___" }, StringSplitOptions.None);

            <tr>
                <th>@splits[0]</th>
                <th>@splits[1]</th>
                <th>@System.IO.File.GetCreationTime(path)</th>
                <th><a class="file-link" name="@path" asp-controller="Download" asp-action="Load" asp-route-path="@path" asp-route-type="1">Скачать</a></th>
                <th><a class="file-link" name="@path" asp-controller="Download" asp-action="Load" asp-route-path="@path" asp-route-type="2">Скачать</a></th>
            </tr>
        }
    }

</table>

